<div class="container">
  <div class="chat-header-container row">
    <!-- chat-header-->
    <div class="chat-header">
      <h2>
        <span id="connection-icon" ng-class="{connected: ctrl.connected}"
          class="glyphicon glyphicon-flash pull-left"></span>
        <strong>Chat</strong>
        <span class="glyphicon glyphicon-align-justify pull-right header-icon"></span>
        <span class="glyphicon glyphicon-home pull-right header-icon"></span>
      </h2>
    </div>
  </div>

  <div id="chat-error-message" class="row jumbotron">
    <h1 class="display-1">
      Error<br>
      <small class="text-mote">{{ctrl.reason}}</small>
    </h1>
  </div>
</div>